<div class="sidenav" id="sidenav">
   <div>
    <a href="#"><span class="material-symbols-outlined" (click)="openCloseNav()">menu</span></a>
    <a href="#"><span class="material-symbols-outlined">home</span></a>
    <a href="#"><span class="material-symbols-outlined">analytics</span></a>
    <a href="#"><span class="material-symbols-outlined">stacks</span></a>
    <a href="#"><span class="material-symbols-outlined">library_add_check</span></a>
    <a href="#"><span class="material-symbols-outlined">pie_chart</span></a>
    <a href="#"><span class="material-symbols-outlined">group</span></a>
   </div>
   <div class="bpart">
    <a href="#"><span class="material-symbols-outlined">settings_power</span></a>
    <a href="#"><span class="material-symbols-outlined">settings</span></a>
    <a href=""><img src="../../assets/img/images.jpg" alt="Round Image" class="round-image"></a>
   </div>
</div>

<div class="main">
    <app-main></app-main>
</div>
